*,
*::after, 
*::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  background: chartreuse;
}

header {
  width: 100%;
  height: 5em;
  padding: 1em;
  background: rgba(192, 295, 109, 95);
  border-bottom: 5px solid black;
}

header h1 {
  height: 100%;
  line-height: 1.2;
  text-align: center;
}

main {
  background: chartreuse;
  width: 100%;
  text-align: center;
}

table {
  border: 2px solid black;
  border-collapse: collapse;
  margin: 30px auto;
}

.cell {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  user-select: none;
  text-align: center;
  cursor: pointer;
  font-size: 4rem;
}

form {
  padding: 20px 0;
  font-size: 1.2rem;
  line-height: 1.2;
}

form input {
  font-size: inherit;
  outline: none;
  border: none;
  border-radius: 5px;
}

.score {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 0;
  font-weight: 600;
  font-size: 1.2rem;
}
#message {
  font-size: 1.5rem;
  padding: 10px;
  font-weight: 600;
}
.none {
  display: none;
}

@media only screen and (max-width: 800px) {
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
  }

  form input {
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 340px) {
  .score {
    flex-direction: column;
  }
  header {
    height: fit-content;
  }
}